body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 1em;
    line-height: 1.5em;
    background: #f8f9fb;
    color: black;
  }
  
  a:link {
    color: #469d8b;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #469d8b;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #469d8b;
    background-color: transparent;
    text-decoration: none;
  }